<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sentiment Analysis</title>
</head>
<body>
    <h1>Sentiment Analysis of Movie Reviews</h1>
    <form action="/predict" method="POST">
        <textarea name="review" rows="4" cols="50" placeholder="Enter your review here..." required></textarea><br><br>
        <input type="submit" value="Predict Sentiment">
    </form>

    {% if prediction_text %}
        <h3>{{ prediction_text }}</h3>
    {% endif %}
</body>
</html>
